<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/js/css/bootstrap.css" >
    <link rel="stylesheet" href="/js/css/bootstrap.min.css" >
    <!-- css 추가 -->
    <link rel="stylesheet" href="/js/css/common.css" >
    <!-- jQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- index.js 추가 -->
    <script src="/js/app/index.js"></script>
</head>
</html>