<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Header</title>
</head>
<body>
	<div class="src-area" th:fragment="topbar">
		<h1 class="temph1" style="font-color"> Top bar </h1>

<!-- 	    <a href="#js-message" class="btn ico-message">메시지<span>3</span></a> -->
<!-- 	    <div id="js-message" class="ly-message"> -->
<!-- 	        일반메시지, 관심메시지, 중요 메시지 => 텍스트 변경 가능 -->
<!-- 	        <ul> -->
<!-- 	            <li> -->
<!-- 	                <span class="status-normal">일반메시지</span>  -->
<!-- 	                <p class="name">홍길동</p> -->
<!-- 	                <p class="txt">텍스트가 길면 ...으로 표시</p> -->
<!-- 	                <span class="time">3분전</span> -->
<!-- 	            </li> -->
<!-- 	            <li> -->
<!-- 	                <span class="status-favorit">관심메시지</span> -->
<!-- 	                <p class="name">홍길동</p> -->
<!-- 	                <p class="txt">메시지 메시지 가나다라마바사 아자차카</p> -->
<!-- 	                <span class="time">3분전</span> -->
<!-- 	            </li> -->
<!-- 	            <li> -->
<!-- 	                <span class="status-important">중요메시지</span> -->
<!-- 	                <p class="name">홍길동</p> -->
<!-- 	                <p class="txt">메시지 메시지 가나다라마바사 아자차카</p> -->
<!-- 	                <span class="time">3분전</span> -->
<!-- 	            </li> -->
<!-- 	        </ul> -->
<!-- 	        <a href="#" class="more">더보기</a> -->
<!-- 	    </div> -->
	
<!-- 	    <a href="#js-notice"  class="btn ico-notice">알림<span>99+</span></a> -->
<!-- 	    <div id="js-notice" class="ly-notice"> -->
<!-- 	        <p class="tit">15개 알림</p> -->
<!-- 	        <ul> -->
<!-- 	            <li class="ico-msg">신규메시지 <span>4건</span><span class="time">3분전</span></li> -->
<!-- 	            <li class="ico_frd">신규친구요청 <span>14건</span><span class="time">3분전</span></li> -->
<!-- 	            <li class="ico-rpt">신규메시지 <span>1건</span><span class="time">2일전</span></li> -->
<!-- 	        </ul> -->
<!-- 	        <a href="#" class="more">더보기</a> -->
<!-- 	    </div> -->

	    <button class="btn ico-logout" id="navigation_sysLogout">로그아웃</button>
	</div>
</body>
</html>